nav {
    display: block;
    background-color: navy;
    overflow: hidden;


    ul {
        display: flex;
        justify-content: center;
        padding: 10px;
        background-color: navy;

    }

    li {
        display: block;
        padding: 10px;
    }

    a {
        font-family: sans-serif;
        color: white;
        text-decoration: none;
    }

    a:hover {
        background-color: purple;
        color: white;
    }

    a.login {
        float: right;
    }
}